*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body{
    width: 100%;
    height: 100%;
}
#nav{
    height: 120px;
    width: 100%;
    
    display: flex;
    align-items: center;
    padding: 0 120px;
    justify-content: flex-start;
    position: fixed;
    gap: 30px;
    z-index: 10;
}
#nav h4{
    text-shadow:  1px 1px 3px;
    font-size:25px;
        

}
#nav img{
    height: 50px;
    border-radius: 100px;
    }
#cursor{
    height: 18px;
    width: 18px;
    background-color: rgba(43, 255, 0, 0.473);
    border-radius: 50%;
    position: fixed;
    z-index: 10;
    transition: all linear 0.01s;
    display: flex;
    justify-content: center;
}
#cursor-blur{
    height: 300px;
    width: 300px;
    background-color: rgba(43, 255, 0, 0.281);
    border-radius: 50%;
    position: fixed;
    transition: all linear 0.08s;
    z-index: 6;
    
    filter: blur(40px);
    
    
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
}
#main{
    position: relative;
   
   
    background-color: rgb(0 0 0 / 33%);
    
   
}
#page1{
    position: relative;
    
    text-align: center;
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   z-index: 8;
    

}
#page1 h1{
    font-size: 70px;
    padding-bottom: 20px;
    text-shadow:  4px 4px 4px;
    
}
#page1 h3{
    font-size: 30px;
    font-weight: 20px;
    font-weight: 900;
    
}
#page1 h3{
    font-weight: 900;
}
#page1 h4{
width: 36%;
padding-top: 12px;
}
#page2{
   min-height: 100vh;
    width: 100%;
    z-index: 8;
    
    
}
/* _________________part 2_______________ */
#scroller{
    
       white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
    z-index: 8;
}
#scroller::-webkit-scrollbar{
    display: none;
}
.scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes scroll{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}
#scroller h4{
    display: inline-block;
    font-size: 100px;
    color: transparent;
    -webkit-text-stroke: 2px greenyellow;
    transition: all ease-in 0.9s;
    &&:hover{
        color: greenyellow;
    }
}
#about{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    z-index: 9;
    height: 47vh;
    width: 100%;
   padding-top:20px ;
   position: relative;
}
#about-in{
    width: 40%;
    text-align: center;
    color: wheat;
}
#about-in h3{
    font-size: 50px;
    margin-bottom: 19px;
}
#about img{
    width: 145px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 1px 0px 17px 3px #CDDC39;
}


#card-container{
   
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* z-index: 8; */
}
.card{
    width: 20%;
    height: 80%;
    background-color: blue;
    border-radius: 20px;

    background-size: cover;
    background-position: center;
    /* box-shadow:1px 0px 5px 1px #CDDC39 ; */
    z-index: 8;
    overflow: hidden;
    &&:hover{
        transform: rotate3d(10,5,6,20deg);
    }
}
.card h1{
    position: absolute;
    bottom: 50px;
   overflow: hidden;
}
#card1{
    background-image: url(https://plus.unsplash.com/premium_photo-1682098177867-dfd0f0402428?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8dHZ8ZW58MHx8MHx8fDA%3D);
}
#card2{
    background-image: url(https://images.unsplash.com/photo-1515358204547-8689c79d6991?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGFkZXZudHVyZSUyMGdvbGZ8ZW58MHx8MHx8fDA%3D);
    
}
#card3{
    background-image: url(https://images.unsplash.com/photo-1562204320-31975a5e09ce?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGdvbGYlMjBsZWFzb258ZW58MHx8MHx8fDA%3D);
}
.overlay{
    height: 100%;
    width: 100%;
    padding: 30px;
    padding-top: 83px;
    border-radius: 20px;
    background-color: #CDDC39;
    align-items: center;
    opacity: 0;
    animation: ease-out 2S;
    transition-duration: 1s;
    &&:hover{
        opacity: 1;
    }
   
   
}
.overlay h3{
    font-size: 30px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
}
/* _____________________part3________________ */
#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to left bottom,rgba(43, 255, 0, 0.281), #CDDC39);
    justify-content: space-between;
   
}
#green-div h4{
    font-size: 25px;
    width: 45%;
    text-align: center;
    z-index: 9;
}
/* _______________________page3__________________ */
#page3{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#page3>p{
    width: 45%;
    text-align: center;
    font-size: 32px;
    line-height: 30px;
    font-weight: 700;
    color: white;
}
#page3 i{
    position: absolute;
    height: 50px;
   color: #CDDC39;
   font-size: 50px;
}
#page3 #icon1{
    left: 20%;
    top: 30%;
}
#page3 #icon2{
    bottom: 30%;
    right: 20%;
}

/* ______________________page 4__________________- */
#page4{
    height: 34vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
}
#page4 h1{
    position: absolute;
    color: transparent;
    -webkit-text-stroke:1px #ffffff;
    font-size: 83px;
    top:-24px;
}
.elem{
    height: 70%;
    width: 20%;
    overflow: hidden;
  border-radius: 20px;
  position: relative;
  z-index: 8;
}
.elem h2{
    width: 100%;
    background-color: #CDDC39;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 9;
    transition: ease-in 0.50s;
    &&:hover{
        background-color: transparent;
        color: white;
    }

   }
.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.1;
    transition:  ease 0.5s;
    &&:hover{
        scale: 1;
    }
}
#footer{
    
    height: 35vh;
    width: 100%;
    background:linear-gradient(to left bottom,rgb(178, 241, 2), #60662a);
    display: flex;
    align-items: center;
    justify-content: space-around;
}